.container {
  margin: 0 20px;
  cursor: pointer;
  border: 1px solid transparent;
  /* width: 200px;
  height: 200px;
  transform: rotate(90deg);
  transform-origin: right top;
  transform:rotate(-90deg) translateY(-100px); */

}

.container:hover {
  transition: 500ms;
  transform: scale(1.0);
  border: 1px solid #188ffe;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.img_city {
 min-width: 200px;
 min-height: 200px;
 border-radius:1px;
}

.city_date_name {
  padding: 15px;
  margin: 0;
}

.date {
  font-size: small;
}

.btn_delete {
  background-color: transparent;
  border: none;
  cursor: crosshair;
  margin-left: 10px;
}

.btn_delete:hover {
  color: rgb(255, 0, 0);
}
