.horizontal_scroll_container {
  overflow-x: auto; 
  white-space: nowrap;
  padding: 10px;
  max-width: 100%;
  display: flex;
  list-style: none;
  padding: 30px;
}
 


.week{
  grid-area: week;
  margin-left: 25px;
}

.list {
  display: flex;
  list-style: none;
  padding: 30px;
}

.item {
  padding: 10px;
}

.item

img {
  width: 50px;
  height: 50px;
}

h4 {
  margin-bottom: 5px;
}
